//
   Created by Administrator on 2014/6/9.
extends blog_content_layout
block leftContent

    if blogs.length>0
        ul.blog_list
            each blog in blogs
                div.input-group.bs-callout.bs-callout-info
                    h4
                        a(href='showBlog?id=#{blog.id}') #{blog.title}
                    p!= blog.content
    else
        h3 暂无博客信息！

block rightContent
    a(class='btn btn-default',href='add',style='float:right') 添加
    h3 导航线信息