//
   Created by Administrator on 2014/6/9.
extends blog_content_layout
block leftContent
    if blogs.lengt>0
        ul
            for(blog in blogs)
                li
                    a blog.title
    else
        h3 暂无博客信息！

block rightContent
    a(class='btn btn-default',href='add',style='float:right') 添加
    h3 导航线信息