//Created by Administrator on 2014/6/16.

extends blog_layout

block extraFile
    link(rel='stylesheet', href='/stylesheets/blog.css')

block content
    div.left_content
        block leftContent
    div.right_content
        block rightContent

